body{background-color:rgb(0, 0, 102)} 
h1{border:2px white solid}
h1{
  color: white
}
h2{color:white}
h3{color:white}
img{position:relative}
.baseballs{border: 5px white solid;}
.football{border: 5px white solid;}
.basketball{border: 5px white solid;}



}